NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:3000/ws
NEXT_PUBLIC_MQTT_WS_URL=ws://localhost:9001
NEXT_PUBLIC_RPC_URL=https://rpc-amoy.polygon.technology
NEXT_PUBLIC_DEFAULT_LOCALE=fr
